.about {
  height: 100%;
  padding: 0 30px;
  background-color: var(--color-bg);
}

.aboutContainer {
  max-width: 1280px;
  padding: 30px 0 40px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.aboutImage {
  width: 100%;
  height: 294px;
  object-fit: cover;
  border-radius: 30px;
}

.aboutContent {
  width: 100%;
}

.aboutTitle {
  margin: 0 0 30px;
  color: var(--color-text);
  font-size: 27px;
  font-weight: 600;
}

.aboutDescription {
  margin: 0 0 30px;
  color: var(--color-text);
  font-size: 16px;
}

.aboutLink {
  text-decoration: underline;
  color: var(--color-text);
  line-height: 32px;
  transition: color .3s ease-in-out;
}

@media (any-hover: hover) {

  .aboutLink:hover {
    color: var(--red-hover);
  }
}

@media (width >=769px) {

  .about {
    padding: 0;
  }

  .aboutContainer {
    padding: 0;
    display: flex;
    flex-direction: row;
    column-gap: 100px;
  }

  .aboutImage {
    order: 2;
    flex: 1 1 48%;
    min-width: 100px;
    height: 777px;
    border-radius: 0;
  }

  .aboutContent {
    flex: 1 1 52%;
    min-width: 320px;
    margin: 60px 0 0 50px;
  }

  .aboutTitle {
    margin: 0 0 60px;
    font-size: 36px;
    font-weight: 700;
  }

  .aboutDescription {
    font-size: 22px;
    line-height: 32px;
  }

  .aboutDescription:not(:last-shild) {
    margin: 0 0 40px;
  }
}