.cards {
  list-style-type: none;
  width: 100%;
  max-width: 1280px;
  padding: 0 0 60px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  justify-items: center;
  row-gap: 15px;
  column-gap: 25px;
}

.cardsItem {
  max-width: 275px;
  min-height: 344px;
}

@media (width >= 769px) {

  .cards {
    padding: 0 0 70px;
  }
}