.productsPageErrorText {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  color: var(--color-text);
  font-size: 16px;
  line-height: 20px;
}

.productsNotFoundText {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  color: var(--color-text);
  font-size: 16px;
  line-height: 20px;
}