.productsPageLoaderText {
  color: var(--color-text);
  font-size: 16px;
  line-height: 20px;
}

.productsPageErrorText {
  color: var(--color-text);
  font-size: 16px;
  line-height: 20px;
}

.productsNotFoundText {
  flex-grow: 1;
  margin: 20px;
  color: var(--color-text);
  font-size: 16px;
  line-height: 20px;
}