@import "./assets/fonts/Montserrat/fonts.css";

:root {
  --red-main: #EF4934;
  --red-hover: #D43824;
  --darkest-grey: #111;
  --white: #FFF;
  --grey-1: #333;
  --grey-2: #656565;
  --grey-3: #CCC;
  --grey-4: #E1E1E1;
  --grey-hover: #F1F1F1;
}

[data-theme="light"] {
  --color-text: var(--darkest-grey);
  --color-bg: var(--white);
  --color-border: var(--grey-3);

  --color-btn-text: var(--grey-2);
  --color-btn-bg: var(--white);
  --color-btn-bg-hover: var(--grey-hover);
  --color-btn-border: var(--grey-4);

  --color-select-bg: var(--white);
  --color-select-text: var(--grey-2);
  --color-select-border: var(--grey-4);

  --color-pagination-bg-default: var(--white);
  --color-pagination-bg-hovered: var(--grey-hover);
  --color-pagination-bg-disabled: var(--white);
  --color-pagination-bg-active: var(--red-main);
  --color-pagination-bg-more: var(--white);
  --color-pagination-border-default: var(--grey-hover);
  --color-pagination-border-hovered: var(--grey-hover);
  --color-pagination-border-disabled: var(--grey-hover);
  --color-pagination-border-active: var(--red-main);
  --color-pagination-border-more: var(--white);
  --color-pagination-text-default: var(--darkest-grey);
  --color-pagination-text-hovered: var(--darkest-grey);
  --color-pagination-text-disabled: var(--grey-3);
  --color-pagination-text-active: var(--white);
  --color-pagination-text-more: var(--darkest-grey);
}

[data-theme="dark"] {
  --color-text: var(--white);
  --color-bg: var(--darkest-grey);
  --color-border: var(--grey-1);

  --color-btn-text: var(--white);
  --color-btn-bg: var(--darkest-grey);
  --color-btn-bg-hover: var(--grey-1);
  --color-btn-border: var(--grey-2);

  --color-select-bg: var(--grey-1);
  --color-select-text: var(--white);
  --color-select-border: var(--grey-1);

  --color-pagination-bg-default: var(--darkest-grey);
  --color-pagination-bg-hovered: var(--grey-2);
  --color-pagination-bg-disabled: var(--grey-1);
  --color-pagination-bg-active: var(--red-main);
  --color-pagination-bg-more: var(--darkest-grey);
  --color-pagination-border-default: var(--grey-2);
  --color-pagination-border-hovered: var(--grey-2);
  --color-pagination-border-disabled: var(--grey-1);
  --color-pagination-border-active: var(--red-main);
  --color-pagination-border-more: var(--darkest-grey);
  --color-pagination-text-default: var(--white);
  --color-pagination-text-hovered: var(--white);
  --color-pagination-text-disabled: var(--grey-2);
  --color-pagination-text-active: var(--white);
  --color-pagination-text-more: var(--white);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.root {
  height: 100%;
  display: flex;
  flex-direction: column;
}